<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DS.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/principal.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/css/grid.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/css/datepicker-bs4.css")" asp-append-version="true"/>
    <link rel="stylesheet" href="@Url.Content("~/css/botao.css")" asp-append-version="true"/>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-masker@1.2.0/build/vanilla-masker.min.js"></script>
    <script src="@Url.Content("~/js/datepicker-full.js")"></script>
    <script src="@Url.Content("~/js/datepicker-pt-BR.js")"></script>
    <script src="@Url.Content("~/js/functions.js")"></script>
</head>
<body>
    <header>
        <nav class="d-flex justify-content-center navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-menu">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item me-4">
                            <a class="botao-cadastrar btn btn-primary py-2 my-0 px-4 nav-link text-white" asp-page="/Aluno/Aterrissagem">Aluno</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="botao-cadastrar btn btn-primary py-2 my-0 px-4 nav-link text-white" asp-page="/Professor/Aterrissagem">Professor</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="botao-cadastrar btn btn-primary py-2 my-0 px-4 nav-link text-white" asp-page="/Disciplina/Aterrissagem">Disciplina</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-item justify-content-end" style="position: absolute;margin-left: 129rem;">
			    <a class="nav-link link-sair" href="/Sair"><i class="fa fa-sign-out me-2"></i>Sair</a>
			</div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mt-5">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="@Url.Content("~/js/Grid.js")"></script>
    <script src="@Url.Content("~/js/Pesquisa.js")"></script>
    <script src="@Url.Content("~/js/Modal.js")"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>